*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.container-body{
    width:90%;
    margin:0px 60px;
  font-family:"Roboto Slab", serif;
}
/*css tiêu đề trái*/
.container-title{
    background-color:rgb(247, 62, 62);
}
.MenuLeft .title-left li a{
    color:white;
    font-weight:450;
    font-size:16px;
    
}
.div-title{
    color:white;
    height: 35px;
}
.MenuLeft .title-left{
    position: relative;
    
}
.MenuLeft .title-left li{
    list-style-type: none;
    display: inline-table;
    height:35px;
    line-height:35px;
    padding-left:15px;
    margin-left: -5px;
}
.MenuLeft .title-left li .DanhSachTruong{
    display: none;
    width:400px;
    background-color:white;
    z-index:10;
}
.MenuLeft .title-left li .DanhSachTruong a{
    color:black;
}
.MenuLeft .title-left li .DanhSachTruong a:hover{
    color:red;
}
.MenuLeft .title-left li .DanhSachKhoa{
    z-index:10;
    display: none;
    width:400px;
    background-color:white;
    
}
.MenuLeft .title-left li .DanhSachKhoa a{
    color:black;
}
.MenuLeft .title-left li .DanhSachKhoa a:hover{
    color:red;
}
.MenuLeft .title-left li .DanhSachVien{
    display: none;
    width:400px;
    background-color:white;
    z-index:10;
   
}
.MenuLeft .title-left li .DanhSachVien a{
    color:black;
}
.MenuLeft .title-left li .DanhSachVien a:hover{
    color:red;
}
.MenuLeft .title-left li .DanhSachTrungTam{
    display:none;
    width:400px;
    background-color:white;
    z-index:10;
}
.MenuLeft .title-left li .DanhSachTrungTam a{
    color:black;
}
.MenuLeft .title-left li .DanhSachTrungTam a:hover{
    color:red;
}
.MenuLeft .title-left li:hover .DanhSachTruong{
    display:block;
    position: absolute;
}
.MenuLeft .title-left li:hover .DanhSachKhoa{
    display:block;
    position: absolute;
}
.MenuLeft .title-left li:hover .DanhSachVien{
    display:block;
    position: absolute;
}
.MenuLeft .title-left li:hover .DanhSachTrungTam{
    display:block;
    position: absolute;
}
/*css tiêu đề trái*/

/*css tiêu đề phải*/
.title-right{
    float:right;
}
.title-right li{
    list-style-type:none;
    display: inline-table;
    line-height:35px;
    padding-left:10px;
}
.title-right li a{
    color:white;
    font-weight:450;
    font-size:16px;
}
/*css tiêu đề phải*/

/*css img header*/
.container-imgtitle{
    background-color:#F9FADC;
}
.thechua2anh{
    position: relative;
    z-index: 5;
}
.thechua2anh .container-img:before{
    content: "";
    position:absolute;
    transform:scaleX(1);
    -webkit-transform:scaleX(1);
    width:98%;
    height:1.5px;
    background-color:rgb(224, 57, 57);
    text-align:center;
    bottom:0px;
}
.img-left img{
width:340px;
height:61.88px;
}
.img-right img{
    width:380px;
    height:92px;
    float:right;
}
/*css img header*/

/*css slideshow*/
.carousel-inner img{
    width: 100%;
    height: 100%;
}
/*css menu*/

.menu-right{
    background-color:white;
}
.list-menu{
    float:right;
}
.list-menu  a .search-icon{
    font-size:25px;
}
.menu-right .list-menu li{
    
    display:inline-table;
    padding-left:15px;
    padding-top:10px;
    position: relative;
}
.menu-right .list-menu a{
    text-decoration: none;
    color:black;
    font-weight: 500;
    font-size:19px;
}
.menu-mother .list-menu li a:before{
    content: "";
    position:absolute;
    transform:scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    width:100%;
    height:2px;
    background-color:rgb(230, 56, 56);
    left:6px;
    bottom:0px;
    transition:all 0.4s ease-in-out 0s;
    -webkit-transiton:all 0.4s ease-in-out 0s;
    -moz-transition:all 0.4s ease-in-out 0s;
}
.menu-mother .list-menu li a:hover:before{
    transform:scaleX(1);
    -webkit-transform:scaleX(1);
    -moz-transform:scaleX(1);
}
/*css title tin tức*/
.title-tintuc{
    margin-top:40px;
}
.title-tintuc p{
    color:rgb(57, 57, 235);
    font-size:25px;
    font-weight:bold;
    text-align:center;
}
/*css title tin tức*/

/*css body tin tức*/
.div-img-tintuc1{
    overflow: hidden;
}
.div-img-tintuc2{
    overflow: hidden;
}
.div-img-tintuc3{
    overflow: hidden;
}
.img-tintuc{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .6s ease-in-out;
    transition: .3s ease-in-out;
}
.img-tintuc:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.p-title{
    color:black;
    font-size:17px;
    font-weight: bold;
}
.p-title:hover{
    color:rgb(248, 48, 48);
    text-decoration: none;
}
.a-title{
color:rgb(248, 51, 51);
}
/*css body tin tức*/

/*css footer tin tức*/
.container-footer{
    width:100%;
    height:100px;
}
.TinKhac{
    color:rgb(236, 13, 13);
    font-size:20px;
    font-weight: bold;
    float:right;
    margin:30px 50px;
}
.TinKhac:hover{
    display:inline-block;
    text-decoration:none;
    color:white;
    padding:0px 20px;
    background-color:rgb(253, 78, 78);
}
/*css footer tin tức*/

/*css title Sự Kiện*/
.title-SuKien{
    margin:40px 0px;
    color:rgb(58, 58, 240);
    font-size:25px;
    font-weight:bold;
    text-align:center;
}
/*css title Sự Kiện*/

/*css body Sự Kiện*/
.content-img{
    font-size:17px;
}
.event-date{
    list-style-type:none;
}
.a-SuKien{
    color:black;
    font-size: 17px;
    font-weight: bold;
}
.a-SuKien:hover{
    color:rgb(248, 48, 48);
    text-decoration: none;
}
.card .card-img-top .card-block .date{
    left: auto;
    right: 10px;
    top: auto;
    bottom: 15px;
    position: absolute;
    top: 15px;
    right: 10px;
    overflow: hidden;
    padding: 5px 10px;
    background: #CD2122;
    color: #fff;
}
.event-date li{
    padding-top:10px;
    clear: left;
}
.event-date .list1{
    padding-top:0px;
}
.date-left{
    float:left;
    width:130px;
}
.date-left .date{
    font-size:30px;
}
.date-left span{
   display:block;
   background-color:#CD2122;
   color:white;
   font-size:17px;
   text-align:center;
    position: relative;
    padding-top:2px;;
    margin-right:10px;
}
.date-left .month:before{
    content: "";
    position:absolute;
    transform:scaleX(1);
    width:80%;
    height:1.5px;
    bottom:25px;
    left:10px;
    background-color:white;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
}
.content-right p{
padding-left:15px;
}
.content-right a{
    color:black;
    font-size:17px;
    font-weight:bold;
}
.content-right a:hover{
    text-decoration: none;
    color:red;
}
/*css body Sự Kiện*/

/*css footer Sự Kiện*/
/*css footer Sự Kiện*/

/*css body câu hỏi*/
.div-tittleCauHoi{
    height:100px;
}
.title-cauhoi{
    color:#0067ac;
    text-align:center;
    font-size:25px;
    line-height:100px;
}
.slide-top{
    margin-bottom:50px;
}
.div-imgCauHoi img{
margin:0px 50px;
}
.div-contentCauHoi{
    width:76%;
    text-align:center;
    margin-left:40px;
    position: relative;
}
.div-contentCauHoi:before{
    content: "";
    position: absolute;
    width:30%;
    height:2px;
    bottom:-15px;
    left:110px;
    background-color:black;
    transform:scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
}
.div-contentCauHoi2{
    width:76%;
    text-align:center;
    margin-left:40px;
    position: relative;
}
.div-contentCauHoi2:before{
    content: "";
    position: absolute;
    width:30%;
    height:2px;
    bottom:-15px;
    left:75px;
    background-color:black;
    transform:scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
}
.a-cauhoi{
    color:#262C38;
    font-size:15px;
    font-weight: bold;
}
.a-cauhoi:hover{
    text-decoration:none;
    color:rgb(224, 48, 48);
}
.div-imgCauHoi2 img{
    width:270px;
    height:auto;
}
.div-contentCauHoi2{
    text-align:center;
}
/*css body câu hỏi*/

/*css phần yêu cầu tốt nghiệp*/
.title-yeucau{
    font-size:28px;
    color:blue;
    margin-bottom:30px;
    
}
.img-YeuCau{
    text-align:center;
}
.container-YeuCau{
    margin-top:130px;
}
.chu-y{
    color:blue;
    font-weight:bold;
}
.icon-yeucau{
    float:left;
    padding-top:25px;
    margin-right:25px;
}
.icon-yeucau i{
    font-size:40px;
    color:rgb(247, 53, 53);
}
/*css phần yêu cầu tốt nghiệp*/

/*css thông tin các khoa*/
/*css title KHoa*/
.title-Khoa{
    color:blue;
    font-weight:bold;
    font-size:25px;
    text-align:center;
}
/*css title KHoa*/
/*css thông tin các khoa*/

/*css footer*/
.container-ft{
    background-color:#333;
    height:270px;
    padding:45px 0px 45px 40px;
}
.title-ft{
    color:white;
    font-weight:bold;
}
.DVTT ul li{
    list-style-type:none;
}
.DVTT ul li a{
    text-decoration:none;
    color:#bbbbbb;
}
.DVTT ul li a:hover{
    color:rgb(247, 54, 54);
}
.diachi{
    color:#bbbbbb;
}
.diachi a img{
    width:25px;
}
.the-end{
    background-color:#252429;
    height:60px;
}
.the-end div p{
    color:#bbbbbb;
    text-align:center;
    line-height:60px;
}
/*css footer*/
